header.header
	.container
		nav.main-nav.header-main-nav
			.main-nav__btn
				span.btn-line
				span.btn-line
				span.btn-line
			ul.main-nav__list
				li.main-nav__item.active
					a(href="#banner").scroll.main-nav__link Home
				li.main-nav__item
					a(href="#what-i-do").main-nav__link.scroll What i do
				li.main-nav__item
					a(href="#my-works").main-nav__link.scroll My works
				li.main-nav__item
					a(href="#about").main-nav__link.scroll About
				li.main-nav__item
					a(href="#footer").main-nav__link.scroll Contact

