nav.main-nav.header-main-nav
	ul.main-nav__list
		li.main-nav__item.active
			a(href="#").main-nav__link Home
		li.main-nav__item
			a(href="#").main-nav__link What i do
		li.main-nav__item
			a(href="#").main-nav__link My works
		li.main-nav__item
			a(href="#").main-nav__link About
		li.main-nav__item
			a(href="#").main-nav__link Contact